/* CONFIG */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
}

/* HEADER */

header {
   background-color: white;
   height: 6rem;
   box-shadow: 0 0.2rem 3rem 0.3rem black;
}

nav .colors-type {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20rem;
   list-style: none;
}

.active {
   color: white;
}

.color {
   margin-top: 1.4rem;
   font-size: 2rem;
   cursor: pointer;
   padding: 0.5rem;
   background-color: aquamarine;
   border-radius: 0.8rem;
}

.color-hover {
   transition: 0.08s;
}

.color-hover:hover {
   color: white;
}


/* MAIN */

.page-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4rem;
   margin: 38vh auto;
}

.bg-color-area {
   padding: 1rem;
   background-color: #383535;
   border-radius: 0.8rem;
   transition: 0.2s;
}

.bg-color-area h1 {
   color: white;
}

.bg-color-area:hover {
   transform: scale(0.95);
}

.hide {
   display: none;
}

.color-changer {
   padding: 1.5rem;
   width: 10rem;
   font-weight: bold;
   border-radius: 0.8rem;
   border: none;
   cursor: pointer;
   transition: 0.2s;
}

.color-changer:hover {
   background-color: #d1cbcb;
   transform: scale(0.95);
}